.sidebarWr {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	overflow-x: scroll;


	.itemWr {
		display: flex;
		padding: 15px 20px;
		align-items: center;
		width: 100%;

		img {
			margin-right: 10px;
			height: 16px;
			width: 16px;
		}
	}
}