.sidebarWr {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	overflow-x: hidden;


	.itemWr {
		position: relative;
		display: flex;
		padding: 15px 20px;
		align-items: center;
		width: 100%;
		cursor: pointer;
		min-width: fit-content;

		img {
			margin-right: 10px;
			height: 16px;
			width: 16px;
		}

		&.active {
			border-top: 1px solid #4690E2;
			background: #F1F5F8;
		}

		&[data-id="Post Office"] {

		}

		&:hover {
			background: #F1F5F8;
		}

		&::after {
			content: '';
			display: block; 
			position: absolute;
			right: 0;
			width: 2px;
			height: 16px;
			border-right: 1px solid #AEB6CE33;
		}
	}
}


.dropDownWr {
	position: absolute;
	right: 0;

	img {
		position: absolute;
		right: 0;
		background: red;
		top: 16px;
		width: 16px;
		height: 16px;
	}
}